APScheduler==3.6.3
autopep8==1.5
beautifulsoup4==4.8.2
certifi==2019.11.28
chardet==3.0.4
idna==2.8
pycodestyle==2.5.0
pyTelegramBotAPI==3.6.7
pytz==2019.3
requests==2.22.0
six==1.14.0
soupsieve==1.9.5
tzlocal==2.0.0
urllib3==1.26.5
